<?xml version="1.0"?>

<configuration>
<connectionStrings>
<clear/>
<add name="cadLibreria" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ADM\Documents\Visual Studio 2015\WebSites\CatalogoVideojuegos\App_Data\cadLibreria.mdf;Integrated Security=True"/>
</connectionStrings>
<system.web>

<compilation debug="true"/>

<authentication mode="Windows"/>
<!--
The <customErrors> section enables configuration
of what to do if/when an unhandled error occurs
during the execution of a request. Specifically,
it enables developers to configure html error pages
to be displayed in place of a error stack trace.-->
<customErrors mode="On" defaultRedirect="GenericErrorPage.aspx">
<error statusCode="403" redirect="NoAccess.aspx" />
<error statusCode="404" redirect="FileNotFound.aspx" />
</customErrors>

</system.web>
</configuration>